body {
  background: #fff;
  font-size: 100%;
  margin: 0;
  font-family: Roboto, arial, sans-serif;
}
hr {
  border: none;
  background: #ccc;
  height: 1px;
}
.type--standard-weight {
  font-weight: normal;
}
.center {
  text-align: center;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn {
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding: 6px 12px;
  background: transparent;
  border: none;
}
.btn:focus {
  outline: none;
}
.btn-primary {
  background: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
}
.btn-primary:hover {
  box-shadow: inset 0 -1px 0 #2f69c2;
  background-color: #4285f4;
  border: 1px solid transparent;
  border-bottom-color: #2f69c2;
}
.btn-primary:active {
  box-shadow: inset 0 1px 0 #21448d;
  background: #2c56b1;
  border: 1px solid transparent;
  border-top: 1px solid #21448d;
}
.btn-secondary {
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  background: #fff;
  padding: 7px 12px;
  border: 1px solid rgba(0,0,0,0.15);
  color: #404040;
}
.btn-secondary:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  border: 1px solid #b8b8b8;
}
.btn-secondary:focus {
  outline: none;
}
.btn-secondary:active {
  box-shadow: inset 0 2px 0 #ddd;
  background: #e5e5e5;
  color: #262626;
}
.actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 102;
}
.btn--add-source {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 18px;
  color: #999;
  background: #fff;
}
.open-settings {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}
.open-settings path {
  fill: #586e75;
}
.settings {
  perspective: 500px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 103;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.settings__panel {
  flex: 0 0 auto;
  align-self: center;
  box-sizing: border-box;
  background: #fff;
  min-width: 200px;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  box-shadow: 0 5px 20px rgba(200,200,200,0.8);
  border: 1px solid #ddd;
  pointer-events: none;
  transform: scale(0.9) translateY(40px) rotateX(-20deg);
  transition: all 200ms ease;
  overflow: hidden;
}
.settings.is-active .settings__panel {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) translateY(0) rotateX(0deg);
}
.settings__close-btn {
  text-decoration: none;
  color: #999;
  display: block;
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 18px;
  line-height: 17px;
  padding: 5px 7px;
  border-radius: 50%;
  text-align: center;
}
.settings__close-btn:hover,
.settings__close-btn:active {
  background: #ccc;
  color: #fff;
}
.settings__title {
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 5;
}
.settings__title h3 {
  padding: 0 20px;
}
.settings__content {
  padding: 60px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.settings-item {
  flex: 1 1 auto;
}
.settings-item--full-width {
  flex: 1 1 100%;
}
.settings__option-container {
  padding: 3px;
  margin-bottom: 5px;
  position: relative;
}
.settings__option-container input[type="radio"],
.settings__option-container input[type="checkbox"] {
  position: absolute;
}
.settings__option-container input[type="number"] {
  width: 40px;
}
.settings__option-container span {
  padding-left: 25px;
  display: inline-block;
}
.settings__spinner {
  position: absolute;
  top: 15px;
  right: 50px;
  opacity: 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #3b89f3;
  border-top-color: transparent;
  -webkit-animation: spin 1s infinite linear;
  transition: all 500ms ease;
}
.settings__spinner.is-active {
  opacity: 1;
}
.output {
  position: absolute;
  overflow: auto;
  z-index: 101;
}
.output textarea {
  border: none;
  resize: none;
}
.output.is-right {
  right: 0;
  top: 26px;
  width: 30%;
  height: calc(100% - 26px);
}
.output.is-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
}
.output.is-hidden {
  display: none;
}
.output .CodeMirror {
  height: 100%;
  box-shadow: none;
}
.output .CodeMirror.cm-s-solarized.cm-s-dark,
.output .CodeMirror.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: #001e25;
}
.output .CodeMirror.cm-s-default,
.output .CodeMirror.cm-s-default .CodeMirror-gutters {
  background-color: #f7f7f7;
}
.output .resize {
  height: 5px;
  width: 100%;
  border-top: 1px solid #a3a3a3;
  background: transparent;
  cursor: row-resize;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
}
.output.is-right .resize {
  height: 100%;
  width: 5px;
  border-left: 1px solid #a3a3a3;
  cursor: col-resize;
}
.output.is-bottom .resize {
  height: 5px;
  width: 100%;
  border-top: 1px solid #a3a3a3;
  cursor: row-resize;
}
.input textarea {
  border: none;
  resize: none;
}
.input .CodeMirror {
  top: 26px;
  height: calc(100% - 26px);
}
.input .line-error {
  color: #900;
  border: 1px solid #900;
  background: #fff;
  border-radius: 3px;
  padding: 5px;
  line-height: 1.1em;
}
.input .cm-s-monokai .line-error,
.input .cm-s-dark .line-error {
  background: #000;
  color: #f55;
}
.input .line-error-icon {
  color: #900;
  background-color: #fcc;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
  float: left;
}
.input .line-error-info {
  margin-left: 2em;
}
.is-resizing {
  -webkit-user-select: none;
}
.input--text {
  width: 100%;
  border: none;
  border-bottom: 3px solid #eee;
  font-size: inherit;
  padding: 8px 0;
  transition: all 200ms ease;
}
.input--text:focus:not([readonly]),
.input--text:active:not([readonly]) {
  outline: none;
  border-bottom-color: #4d90fe;
}
.top-nav {
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 102;
}
.execution-context-selector {
  border: none;
  background: transparent;
  height: 25px;
  margin-left: 28px;
  font-size: 12px;
  width: 150px;
  color: inherit;
}
.CodeMirror {
  font-family: Monaco, 'Fira code', 'Ubuntu mono', monospace;
  font-size: 17px;
}
